# Cursor Rules

## Git and GitHub

- Create a new Issue, then create a new Branch, and finally a new PR.
- Use best practices for commit messages. Every commit message should follow this regex:
  `(?:fix|chore|docs|feat|refactor|style|test)(?:\(.+\))?: [A-Z].+(?:\s#\d+)?`
- Use keywords with scopes every time.
